/* Palheta de cores
 Background: #222831
 Background-Quadrado: #393E46
 Botões: #00ADB5
 Fonte: #EEEEEE
 #C08261*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bgColor: #222831;
    --bgSquare: #393E46;
    --btn: #00ADB5;
    --font: #EEEEEE;
    --money: #96C291
}

body{
    background-color: var(--bgColor);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--font);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bgSquare);
    border-radius: 14px;
    margin: 60px;
    padding: 30px;
}

.hidden {
    display: none;
}

h1, h3 {
    padding-top: 15px;
}

.container-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
}

.container-inputs{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    gap: 1rem
}

.container-input {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#adicionarProduto{
    background-color: var(--bgColor);
    color: var(--btn);
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 19px;
}
#adicionarProduto:hover{
    background-color: var(--btn);
    color: var(--font);
    transition: 0.3s;
}

#formulario {
    width: 100%;
    padding: 20px 0;
}

#carrinho, #produtosAdicionados {
    width: 100%;
    padding-left: 10px;
    font-weight: 200;
}

.span-valor-monetario {
    float: right!important;
    padding-right: 48px;
    color: var(--money);
    font-weight: 200;
}

.button-remove{
    background-color: var(--bgColor);
    color: var(--btn);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px 10px;
    cursor: pointer;
    font-size: 35px;
}

.button-remove:hover{
    background-color: var(--btn);
    color: var(--font);
    transition: 0.3s;
}

#produtosAdicionados{
    border-collapse:collapse;
    padding: 10px;
    text-align: left;
}

input{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: var(--bgColor);
    color: var(--font);
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

table {
    width: 100%;
}

table th {
    background-color: var(--bgColor);
    color: #fff;
}

table td, table th {
    padding: 10px;
}

/* Borda das celulas */
th, td {
    border: 1px solid var(--bgColor);
}

tr {
    vertical-align: center;
}

h1, h3 {
    text-align: left;
    width: 100%;
}